@import "tailwindcss";
@font-face {
  font-family: "Clash";

  src: url("/fonts/Clash.otf")
    format("opentype");

  font-weight: normal;

  font-style: normal;
}
body {
  font-family:
    "Clash",
    sans-serif;
}
/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: black;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #374151; /* gray-700 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* gray-600 */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-color: #374151 black;
}